
<footer>

  <div class="logo">
    <img src="/images/logo.svg" alt="" />
  </div>

  <div class="all">
    <div class="location">
      <img src="/images/icon-location.svg" alt="">
    </div>
    <div class="lorem">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      </p>
    </div>
    <div class="info">
      <div class="call">
        <img src="/images/icon-phone.svg" alt="">
        <p>+1-543-123-4567</p>
      </div>
      <div class="email">
        <img src="/images/icon-email.svg" alt="">
        <p>examplefylo.com</p>
      </div>
    </div>

    <div class="about">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>

    <div class="contact">
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>

    <div class="socialmedia">
        <img src="/images/5305154_fb_facebook_facebook logo_icon.png" alt="">
        <img src="/images/104501_twitter_bird_icon.png" alt="">
        <img src="/images/square-instagram-brands-solid.svg" alt="">
    </div>
  </div>
</footer>

