
<main>

<section class="w-100">
  <div class="content mx-auto">
    <img src="/images/illustration-intro.png" alt="" />
    <div class="intro d-flex text-center align-items-center">
      <h1>
        All your file in one secure location, <br />
        accessible anywhere.
      </h1>

      <div class="subTitle">
        <p>
          Fylo stores all your must important files in one secure location.
          Access them wherever you need, share and colaborate with friends
          familly, and co-workers.
        </p>
      </div>
      <a class="my-3" href="#">Get Started</a>
    </div>
  </div>
</section>

<section>
  <div class="container my-5 d-flex">
    <div class="row">
      <div class="col-6 d-flex justify-content-center text-center">
        <div class="access pt-2 mx-5">
            <img src="/images/icon-access-anywhere.svg" alt="" />
            <h1>Access your files, anywhere</h1>
          <div class="accessp">
            <p>
              The ability to use a smartphone, tablet, or comuter to access your
              account means your files follow you everywhere0.
            </p>
          </div>
        </div>
      </div>

      <div class="col-6 d-flex justify-content-center text-center">
        <div class="security mx-5">
          <img src="/images/icon-security.svg" alt="" />
          <h1>Security you can trust</h1>
          <div class="securityp">
            <p>
              2-factor authentification and user-controlled encryption are just a
              couple of the security features we allow to help secure your files.
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-6 d-flex justify-content-center text-center">
        <div class="real mx-5">
          <img src="/images/icon-collaboration.svg" alt="" />
          <h1>Access your files, anywhere</h1>
        <div class="realp">
          <p>
            Securely share files and folders with friends,
            family and colleagues for live collaboration.
            No email attachments reauired.
          </p>
        </div>
        </div>
      </div>

      <div class="col-6 d-flex justify-content-center text-center">
        <div class="store mx-5">
          <img src="/images/icon-any-file.svg" alt="" />
          <h1>Store any type of file</h1>
          <div class="storep">
            <p>Whether you're sharing holidays photos or work
              documents, Fylo has you covered allowing for all
              file types to be securely stored and shared.
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>


</section>

<section class="productive">
  <div class="row">
    <div class="col-5 mx-5">
      <img src="/images/illustration-stay-productive.png" alt="">
    </div>
    <div class="col-5 mx-5">
      <div class="title">
        <h1>Stay productive, wherever you are</h1>
      </div>
      <div class="paragraph">
        <p>
        Never let location be an issue when accessing your files.
        Fylo has you covered for all of your file storage needs.
        </p>
        <p>
        Securely share files and folders with friends, family
        and colleagues for live collaboration. No email attachments required.
        </p>

      </div>
      <div class="link">
        <a href="#">See how Fylo works </a>
        <img src="/images/icon-arrow.svg" alt="">
      </div>

    </div>
  </div>
</section>

<section class="workers my-4">
  <div class="row">
    <div class="card col-3 p-3 mx-3">
      <p>
        Fylo has improved our team productivity by an order of magnitude.
        Since making the switch our team has become a well-oiled
        collaboration machine.
      </p>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile-1.jpg" alt="">
        </div>
        <div class="name ">
          <h5>Satish Patel</h5>
          <p>Founder & CEO, Huddle</p>
        </div>
      </div>
    </div>

    <div class="card col-3 p-3 mx-3">
      <p>
        Fylo has improved our team productivity by an order of magnitude.
        Since making the switch our team has become a well-oiled
        collaboration machine.
      </p>
      <div class="profile">
        <div class="pic">
          <img src="/images/profile-2.jpg" alt="">
        </div>
        <div class="name">
          <h5>Satish Patel</h5>
          <p>Founder & CEO, Huddle</p>
        </div>
      </div>
    </div>

    <div class="card col-3 p-3 mx-3">
      <p>
        Fylo has improved our team productivity by an order of magnitude.
        Since making the switch our team has become a well-oiled
        collaboration machine.
      </p>

      <div class="profile">
        <div class="pic">
          <img src="/images/profile-3.jpg" alt="">
        </div>
        <div class="name">
          <h5>Satish Patel</h5>
          <p>Founder & CEO, Huddle</p>
        </div>
      </div>
    </div>

  </div>
      <img class="comment" src="/images/bg-quotes.png">

</section>

<section class="started ">
  <div class="row d-flex justify-content-center">
    <div class="allaccess col-6 text-center py-5">
      <div class="title text-center">
        <h1>Get ready access today</h1>
      </div>
      <div class="paragrap mx-5 my-4">
        <p>
          It only takes a minute to sign up and our free starter tier is extremely generous.
          If you have any questions, our support team would be happy to help you.
        </p>
      </div>
      <div class="getstarted d-flex justify-content-center">
        <input type="email" name="email" id="email" placeholder="email@example.com" size="30" maxlength="20">
        <a class="my-3" href="#">Get Started For Free</a>
      </div>
    </div>
  </div>
</section>

</main>




